<ion-header>
  <ion-toolbar color="light">
    <img 
      src="assets/imgs/logoEtec.png" 
      alt="Logo da ETEC"
      width="100px">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  @for(mes of mesesDoAno; track mes){
    <div class="ion-margin-vertical ion-padding-vertical">
      @if(usuario?.tipoUsuario != 'funcionário') {
        <app-calendario [dataInicial]="mes"></app-calendario>
      } @else {
        <app-calendario 
          [dataInicial]="mes" 
          [ehFuncionario]="true"
          
          [eventos]="todosOsEventos"
          
          (eventoAdicionado)="onEventoAdicionado($event)"
          (eventoAtualizado)="onEventoAtualizado($event)"
          (eventoRemovido)="onEventoRemovido($event)"></app-calendario>
      }
    </div>
  }
</ion-content>

@if(usuario && usuario.tipoUsuario == 'funcionário'){
  <app-footer [funcLogado]="true"></app-footer>
} @else {
  <app-footer></app-footer>
}