<ion-header>
  <ion-toolbar color="light">
    <img 
      src="assets/imgs/logoEtec.png" 
      alt="Logo da ETEC"
      width="100px">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  @for(mes of mesesDoAno; track mes){
    <app-calendario [dataInicial]="mes" ></app-calendario>

    <ion-item-divider></ion-item-divider>
  }
</ion-content>

@if(usuario && usuario.tipoUsuario == 'funcionário'){
  <app-footer [funcLogado]="true"></app-footer>
} @else {
  <app-footer></app-footer>
}