:host h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-left: 10px;
    margin-bottom: .5rem;
    text-transform: capitalize; // faz a primeira letra ser maiúscula
    color: var(--ion-color-cinza-claro);
}

:host ::ng-deep {
    .fc-theme-standard,
    .fc-theme-standard th,
    .fc-theme-standard td {
        border: none;
    }

    // dias da semana (d, s, t..)
    .fc-col-header-cell-cushion {
        color: #333;
        font-size: .9rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    // linha horizontal encima dos dias da semana
    .fc-col-heaeder {
        padding-top: 5px;
        margin-bottom: 5px;
        border-top: 1px solid var(--ion-color-cinza-claro);
    }

    // caixa onde os dias ficam
    .fc-daygrid-day-frame {
        max-height: 3rem;
        min-height: auto !important;
    }

    // números dos dias
    .fc-daygrid-day-number {
        padding: 8px;
        color: #111;
        font-weight: 400;
        font-size: 1.1rem;
    }

    // remove o fundo do dia atual 
    .fc-day-today { background-color: transparent !important; }

    // esconde os dias de outros meses 
    .fc-day-other {
        opacity: 0;
        pointer-events: none; //impede o clique
    }
}