// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-carmin: #a83950;
	--ion-color-carmin-rgb: 168,57,80;
	--ion-color-carmin-contrast: #ffffff;
	--ion-color-carmin-contrast-rgb: 255,255,255;
	--ion-color-carmin-shade: #943246;
	--ion-color-carmin-tint: #b14d62;

	--ion-color-cinza-claro: #b3b3b3;
	--ion-color-cinza-claro-rgb: 179,179,179;
	--ion-color-cinza-claro-contrast: #000000;
	--ion-color-cinza-claro-contrast-rgb: 0,0,0;
	--ion-color-cinza-claro-shade: #9e9e9e;
	--ion-color-cinza-claro-tint: #bbbbbb;
}