// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-carmin: #a83950;
	--ion-color-carmin-rgb: 168,57,80;
	--ion-color-carmin-contrast: #ffffff;
	--ion-color-carmin-contrast-rgb: 255,255,255;
	--ion-color-carmin-shade: #943246;
	--ion-color-carmin-tint: #b14d62;
}