<ion-content>
  <section class="secaoForm">
    <h1>Entrar</h1>

    <form class="formulario">
      <ion-input 
        name="email"
        type="text"
        label="Insira seu E-mail"
        labelPlacement="floating"
        required></ion-input>
      
      <ion-input 
        name="senha"
        type="password"
        label="Senha"
        labelPlacement="floating"
        required></ion-input>

      <span>Não possuo uma conta?<a href="/cadastro"> Cadastre-se</a></span>

      <ion-button href="/menu">Entrar</ion-button>
    </form>
  </section>
</ion-content>