<ion-content>
  <section class="secaoForm">
    <h1>Entrar</h1>

    <form #formularioLogin="ngForm" class="formulario">
      <ion-input 
        name="email"
        [(ngModel)]="usuario.email"
        type="email"
        label="Insira seu E-mail"
        labelPlacement="floating"
        required></ion-input>
      
      <ion-input 
        name="senha"
        [(ngModel)]="usuario.senha"
        type="password"
        label="Senha"
        labelPlacement="floating"
        required></ion-input>

      <span>Não possuo uma conta?<a href="/cadastro" class="letraVermelha"> Cadastre-se</a></span>

      <ion-button
        [disabled]="!formularioLogin.valid"
        (click)="entrar()">Entrar</ion-button>
    </form>
  </section>
</ion-content>