<ion-header>
  <ion-toolbar color="light">
    <img 
      src="assets/imgs/logoEtec.png" 
      alt="Logo da ETEC"
      width="100px">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light"> 
  <section class="secaoForm">
    <h1 class="letraVermelha">Entrar</h1>

    <form #formularioLogin="ngForm" class="formulario">
      <ion-input 
        name="email"
        [(ngModel)]="usuario.email"
        type="email"
        label="Insira seu E-mail"
        labelPlacement="floating"
        required></ion-input>
      
      <ion-input 
        name="senha"
        [(ngModel)]="usuario.senha"
        type="password"
        label="Senha"
        labelPlacement="floating"
        required></ion-input>

      <span>Não possui uma conta? <br> <a href="/cadastro" class="letraVermelha"> Cadastre-se</a></span>

      <ion-button
        [disabled]="!formularioLogin.valid"
        (click)="entrar()">Entrar</ion-button>
    </form>
  </section>
</ion-content>