<ion-content> 
  <section class="secaoForm">
    <h1>Cadastre-se</h1>

    <form class="formulario" #formularioCadastro="ngForm" (submit)="cadastrar()">
      <ion-input 
        name="nome"
        [(ngModel)]="usuario.nome"
        type="text"
        label="Nome"
        labelPlacement="floating"
        required></ion-input>

      <ion-input 
        name="email"
        [(ngModel)]="usuario.email"
        type="email"
        label="E-mail"
        labelPlacement="floating"
        required></ion-input>

      <ion-input 
        name="senha"
        [(ngModel)]="usuario.senha"
        type="password"
        label="Senha"
        labelPlacement="floating"
        required></ion-input>

        <ion-select 
          name="tipoUsuario"
          [(ngModel)]="usuario.tipoUsuario"
          label="Tipo de usuário"
          (ionChange)="alteraTipo()"
          required> 
          <ion-select-option value="funcionário"> Funcionário </ion-select-option>
          <ion-select-option value="aluno"> Aluno </ion-select-option>
          <ion-select-option value="responsável"> Responsável </ion-select-option>
        </ion-select>

        @if(mostrarCodigo){
          <ion-input 
            name="codigo"
            [(ngModel)]="usuario.codigo"
            type="text"
            label="Código de usuário"
            labelPlacement="floating"
            required></ion-input>
        }

      <span>Já possui uma conta?<a href="/login"> Entre</a></span>

      <ion-button 
      type="submit"
      [disabled]="!formularioCadastro.valid">
        Cadastrar
      </ion-button>
    </form>
  </section>
</ion-content>